#lists {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 50px);
  gap: 2rem;
  margin-top: 4rem;
  padding: 1rem;
}

@media screen and (min-width: 1080px) {
  #lists {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
  border-radius: 5px;

  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  font-weight: 700;
}

.description {
  display: flex;
}

.list-name,
.list-del {
  cursor: pointer;
}

.how-many {
  padding-left: 1rem;
  font-weight: 700;
  color: var(--accent-color);
}
