.current-list {
  font-size: 3rem;
  padding-left: 2rem;
}

@media screen and (min-width: 1080px) {
  .current-list {
    padding-left: 0;
  }
}

.todos {
  margin-top: 2rem;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid var(--base-color);
  border-bottom: 1px solid var(--base-color);
}

.todo:not(:first-child) {
  border-top: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#todo-title,
#todo-date {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

#todo-title {
  width: 100%;
  font-weight: 700;
  border: none;
}

input[name='todo-title']:focus,
input[name='todo-date']:focus {
  outline: 0;
}

#todo-date {
  margin-top: 0.3rem;
  border: none;
}

.completion {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#done {
  padding: 1rem;
}

.edit {
  color: var(--tertiary-color);
  font-size: 20px;
  cursor: pointer;
}

.delete {
  padding: 0.5rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .completion {
    width: 12%;
  }
}

@media screen and (min-width: 1200px) {
  .completion {
    width: 8%;
  }
}
@media screen and (min-width: 1500px) {
  .completion {
    width: 6%;
  }
}
