.todos {
  margin-top: 2rem;
}

.todo {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .todo {
    padding-right: 40rem;
  }
}

@media screen and (min-width: 1500px) {
  .todo {
    padding-right: 60rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#todo-title {
  color: #000;
  font-weight: 700;
  border: none;
  width: 100%;
}
input[name="todo-title"]:focus,
input[name="todo-date"]:focus {
  outline: 0;
}

#todo-date {
  margin-top: 0.3rem;
  color: #000;
  border: none;
}

.completion {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  cursor: pointer;
}

.delete {
  padding: 0.4rem;
}
